{"domain_name": "website.network", "expiration_date": null, "updated_date": "2022-03-02 21:02:40", "creation_date": "2022-02-19 13:15:00", "status": "clientTransferProhibited https://icann.org/epp#clientTransferProhibited"}